<header class="header shadow">
    <div class="header__body">
        <div class="header__logo flex flex__align-center flex__justify-center">
            <img src="../../assets/media/logo.png" alt="">
        </div>
        <div class="header__menu"></div>
        <div class="header__center flex flex__align-center">
            <ul class="header__nav flex flex__align-center">
                <a class="header__link" [routerLinkActive]="['active']" routerLink="currency-details/EUR-USD">EUR-USD</a>
                <a class="header__link"[routerLinkActive]="['active']" routerLink="currency-details/EUR-GBP">EUR-GBP</a>
            </ul>
        </div>
    </div>
</header>